.headerName {
    width: 320px;
    margin: 0 20px;
    font-weight: 300;
    text-align: right;
    text-decoration: none;
    color: palegoldenrod !important;
}

@media screen and (max-width: 991px) {
    .headerName {
        margin: 1% auto;
        text-align: center;
    }
}

.headerLinks {
    margin: auto !important;
    text-decoration: none !important;
    color: palegoldenrod;
}

@media screen and (max-width: 991px) {
    .headerLinks {
        text-align: center;
        margin: 0.10% auto;
    }
}

.headerRow {
    background-color: darkcyan;
    padding: 1%;
    margin-bottom: 10px;
}

.navLinks:link, .navLinks:visited {
    color: palegoldenrod;
    background-color: transparent;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.navLinks.active {
    color: palegoldenrod;
    background-color: grey;
    text-decoration: none;
}

.navLinks:hover {
    color: black;
    background-color: transparent;
}

#topImg {
    width: 25%;
    height: auto;
    margin: auto;
    display: block;
}

.welcomeMessage {
    position: absolute;
    align-content: center;
    background-color: darkcyan;
    font-size: 30px;
    color: palegoldenrod;
    padding: 10px;
    font-weight: 200;
}

.card.card {
    display: flex ;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px;
    transform-style: preserve-3d;
    width: 250px;
    height: 250px;
    transform:perspective(1000px) rotateY(var(--rotate-y, 0));
    transition: 150ms;
}

.card.flip {
    --rotate-y: 180deg;
}

.card .front,
.card .back {
    position: absolute !important;
    padding: 1rem;
    backface-visibility: hidden;
}


.card .front {
    left: 0;
}

.card .back {
    transform: rotateY(180deg);
}

.flashcardOptions {
    margin-top: 0.5rem;
}

.flashcardOption {
    margin-top: 0.25rem;
    color: darkgreen;
    font-size: 0.75rem;
}

.flashcardOption:first-child {
    margin-top: 0;
}