.headerName {
    width: 320px;
    margin: 0 20px;
    font-weight: 300;
    text-align: right;
    text-decoration: none;
    color: palegoldenrod !important;
}

@media screen and (max-width: 991px) {
    .headerName {
        margin: 1% auto;
        text-align: center;
    }
}

.headerLinks, 
.logoutBtn a{
    margin: auto !important;
    text-decoration: none !important;
    color: palegoldenrod;
}


@media screen and (max-width: 991px) {
    .headerLinks
    {
        text-align: center;
        margin: 0.10% auto;
    }

    .logoutBtn a{
        float: left;
        padding-left: 4px;
    }
}

.headerRow {
    background-color: darkcyan;
    padding: 1%;
    margin-bottom: 10px;
}

.navLinks:link, .navLinks:visited {
    color: palegoldenrod;
    background-color: transparent;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.navLinks.active {
    color: palegoldenrod;
    background-color: grey;
    text-decoration: none;
}

.navLinks:hover {
    color: black;
    background-color: transparent;
}

.imgContainer {
    display: flex;
    flex-direction: column;
}

.welcomeMessage {
    display: flex;
    flex-direction: column;
    width: 60vw;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    background-color: darkcyan;
    font-size: 40px;
    color: palegoldenrod;
    padding: 10px 0px 10px 0px;
    font-weight: 200px;
}

#topImg {
    width: 30vw;
    margin:auto;
    display: block;
}

.card.card {
        display: flex ;
        justify-content: center;
        align-items: center;
        border-radius: .25rem;
        box-shadow: 0 0 5px 2px;
        transform-style: preserve-3d;
        width: 80%;
        height: 20rem;
        transform:perspective(1000px) rotateY(var(--rotate-y, 0));
        transition: 150ms;
        margin: auto auto;
        font-size: 50px;
        padding-left: 1rem;
}

.card.flip {
    --rotate-y: 180deg;
}

.card .front,
.card .back {
    position: absolute !important;
    padding: 1rem;
    backface-visibility: hidden;
}


.card .front {
    left: 0;
}

.card .back {
    transform: rotateY(180deg);
}

.flashcardOptions {
    margin-top: 0.5rem;
}

.flashcardOption {
    margin-top: 0.25rem;
    color: darkgreen;
    font-size: 23px;
}

.flashcardOption:first-child {
    margin-top: 0;
}

.container {
    max-width: 900px;
    margin: 3rem 1rem 1rem 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    background-color: darkcyan;
    color: palegoldenrod;
    /* text-align: -webkit-center; */
    font-weight: 300 !important;
    padding: 1%;
    margin-top: 23vh;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupForm {
    text-align: center;
}

.signupHeading {
    text-align: center;
    margin-bottom: 1rem;
}

.signupBtn {
    background-color: darkcyan;
    color: palegoldenrod;
    margin-top: 1.3rem;
    padding: 5px 10px 5px 10px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hide {
    display: none;
}

.back {
    color: rgb(0, 0, 0);
    width: fit-content;
    height: fit-content;
    font-size: 25px;

}


@media only screen and (min-width: 350px) and (max-width: 1000px) {
    #topImg {
        width: 50vw;
    }

    .navLinks.active {
        width:fit-content
    }
}